<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <android.support.design.widget.AppBarLayout
        android:id="@+id/appbar"
        style="@style/MW"
        android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar">
        <android.support.v7.widget.Toolbar
            android:id="@+id/toolbar"
            style="@style/Toolbar"
            local:popupTheme="@style/ThemeOverlay.AppCompat.Light" />
    </android.support.design.widget.AppBarLayout>
    <MvxSpinner
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginTop="30dp"
        android:layout_marginLeft="15dp"
        android:layout_marginRight="15dp"
        android:textSize="@dimen/text_large"
        android:background="@android:color/transparent"
        local:MvxItemTemplate="@layout/item_spinner_name_centered"
        local:MvxDropDownItemTemplate="@layout/item_spinnerdropdown_name"
        local:MvxBind="ItemsSource Days; SelectedItem SelectedDay" />
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginTop="15dp"
        android:layout_marginLeft="15dp"
        android:layout_marginRight="15dp">
        <TextView
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:textSize="@dimen/text_large"
            android:padding="15dp"
            android:background="@drawable/edittext_background_with_border"
            android:textColor="@color/mid_gray"
            android:layout_weight="0.45"
            local:MvxBind="Text TimeStartString; Click SetStartTimeCommand" />
        <TextView
            android:id="@+id/txt_to"
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_marginLeft="10dp"
            android:textSize="@dimen/text_very_huge"
            android:singleLine="false"
            android:gravity="center_horizontal"
            android:layout_weight="0.1"
            local:MvxBind="Text [To]" />
        <TextView
            android:layout_width="0dp"
            android:layout_height="wrap_content"
            android:layout_marginLeft="10dp"
            android:textSize="@dimen/text_large"
            android:padding="15dp"
            android:background="@drawable/edittext_background_with_border"
            android:textColor="@color/mid_gray"
            android:layout_weight="0.45"
            local:MvxBind="Text TimeStopString; Click SetStopTimeCommand" />
    </LinearLayout>
</LinearLayout>