<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    style="@style/MM"
    android:fitsSystemWindows="true"
    android:fillViewport="true"
    local:layout_scrollFlags="scroll|enterAlways">
    <RelativeLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent">
        <RelativeLayout
            android:id="@+id/layout_container"
            style="@style/MW"
            android:background="@color/grayBackground">
            <android.support.design.widget.AppBarLayout
                android:id="@+id/appbar"
                style="@style/MW"
                android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar">
                <android.support.v7.widget.Toolbar
                    android:id="@+id/toolbar"
                    style="@style/Toolbar"
                    local:popupTheme="@style/ThemeOverlay.AppCompat.Light" />
            </android.support.design.widget.AppBarLayout>
            <RelativeLayout
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginTop="40dp"
                android:layout_below="@id/appbar">
                <TextView
                    android:id="@+id/txt_enter_email"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_marginLeft="20dp"
                    android:layout_marginRight="20dp"
                    android:textSize="@dimen/text_huge"
                    android:textColor="@color/mid_gray"
                    local:MvxBind="Text [PleaseEnterTheEmailAddressAssociatedWithYourIDriveYourCarAccount]" />
                <EditText
                    android:id="@+id/txt_forgot_password"
                    android:layout_below="@id/txt_enter_email"
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_marginTop="40dp"
                    android:layout_marginLeft="20dp"
                    android:layout_marginRight="20dp"
                    android:padding="15dp"
                    android:background="@drawable/edittext_background_with_border"
                    android:textColor="@color/mid_gray"
                    android:textColorHint="@color/light_gray"
                    android:textSize="@dimen/text_large"
                    android:singleLine="true"
                    local:MvxBind="Text Email; Hint [Email]" />
                <Button
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_below="@id/txt_forgot_password"
                    android:layout_margin="20dp"
                    android:padding="20dp"
                    android:theme="@style/AppTheme.Button.ColorPrimary"
                    local:MvxBind="Text [Submit]; Click RecoverPasswordCommand" />
            </RelativeLayout>
        </RelativeLayout>
        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:gravity="center"
            android:background="#C0000000"
            local:MvxBind="Visible EmailSent">
            <ImageView
                android:id="@+id/img_success"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_marginLeft="40dp"
                android:layout_marginRight="40dp"
                android:layout_centerHorizontal="true"
                local:srcCompat="@drawable/ic_check_white_big" />
            <TextView
                android:id="@+id/txt_email_sent"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_marginTop="20dp"
                android:layout_marginLeft="40dp"
                android:layout_marginRight="40dp"
                android:layout_below="@id/img_success"
                android:layout_centerHorizontal="true"
                android:textSize="@dimen/text_enormous"
                android:textColor="@android:color/white"
                local:MvxBind="Text [EmailSent]" />
            <TextView
                android:id="@+id/txt_follow_directions"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_centerHorizontal="true"
                android:layout_below="@id/txt_email_sent"
                android:layout_marginTop="20dp"
                android:layout_marginLeft="40dp"
                android:layout_marginRight="40dp"
                android:gravity="center"
                android:textSize="@dimen/text_huge"
                android:textColor="@android:color/white"
                local:MvxBind="Text [FollowTheDirectionsInTheEmailToResetYourPassword]" />
            <Button
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_centerHorizontal="true"
                android:layout_below="@id/txt_follow_directions"
                android:layout_marginTop="20dp"
                android:layout_marginLeft="40dp"
                android:layout_marginRight="40dp"
                android:padding="20dp"
                android:theme="@style/AppTheme.Button.ColorPrimary"
                local:MvxBind="Text [ReturnToLogin]; Click ReturnToLoginCommand" />
        </RelativeLayout>
    </RelativeLayout>
</ScrollView>