<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:local="http://schemas.android.com/apk/res-auto"
	android:id="@+id/menu_header"
	android:layout_width="match_parent"
	android:layout_height="wrap_content"
	android:fitsSystemWindows="true"
	android:paddingLeft="10dp"
	android:paddingRight="20dp"
	android:paddingBottom="20dp"
	android:paddingTop="20dp"
	android:background="@color/colorPrimary"
	android:gravity="center_vertical">
	<RelativeLayout
		android:layout_width="match_parent"
		android:layout_height="wrap_content">
		<FFImageLoading.Views.ImageViewAsync
			android:id="@+id/img_user_header"
			android:layout_width="53dp"
			android:layout_height="53dp"
			android:layout_marginLeft="10dp"
			android:scaleType="fitCenter" />
		<TextView
			android:id="@+id/text_view_fullname"
			android:layout_width="wrap_content"
			android:layout_height="wrap_content"
			android:layout_alignTop="@id/img_user_header"
			android:layout_toRightOf="@id/img_user_header"
			android:layout_marginLeft="20dp"
			android:singleLine="true"
			android:textColor="@android:color/white"
			android:textSize="@dimen/text_medium" />
		<LinearLayout
			android:id="@+id/llRating"
			android:layout_width="wrap_content"
			android:layout_height="wrap_content"
			android:layout_alignLeft="@id/text_view_fullname"
			android:layout_alignBottom="@id/img_user_header"
			android:orientation="horizontal">
			<ImageView
				android:id="@+id/img_star"
				android:layout_width="20dp"
				android:layout_height="20dp"
				android:layout_marginRight="5dp"
				android:scaleType="centerCrop"
				local:srcCompat="@drawable/star" />
			<TextView
				android:id="@+id/text_reputation"
				android:layout_width="wrap_content"
				android:layout_height="wrap_content"
				android:singleLine="true"
				android:textColor="@android:color/white"
				android:textSize="@dimen/text_medium" />
		</LinearLayout>
	</RelativeLayout>
</RelativeLayout>