<?xml version="1.0" encoding="utf-8"?>
<LinearLayout
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:local="http://schemas.android.com/apk/res-auto"
	style="@style/MM"
	android:orientation="vertical">
	<android.support.design.widget.AppBarLayout
		android:id="@+id/appbar"
		style="@style/MW"
		android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar">
		<android.support.v7.widget.Toolbar
			android:id="@+id/toolbar"
			style="@style/Toolbar"
			local:popupTheme="@style/ThemeOverlay.AppCompat.Light" />
	</android.support.design.widget.AppBarLayout>
	<android.support.v4.widget.NestedScrollView
		android:id="@+id/reviews_nested_scrollview"
		android:layout_width="match_parent"
		android:layout_height="wrap_content">
		<!--android:focusableInTouchMode="true"-->
		<LinearLayout
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:layout_marginLeft="15dp"
			android:layout_marginRight="15dp"
			android:descendantFocusability="blocksDescendants"
			android:orientation="vertical">
			<TextView
				android:layout_width="wrap_content"
				android:layout_height="wrap_content"
				android:layout_marginTop="30dp"
				android:textSize="@dimen/text_very_gigant"
				android:textColor="@color/darker_gray"
				local:MvxBind="Text [YourAverageRating]" />
			<RatingBar
				android:id="@+id/rating"
				android:layout_width="wrap_content"
				android:layout_height="wrap_content"
				android:layout_marginTop="10dp"
				style="@style/CustomerReviewsRatingBar"
				android:numStars="5"
				android:stepSize="0.1"
				android:isIndicator="true"
				local:MvxBind="Rating AverageRating" />
			<LinearLayout
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:layout_marginLeft="5dp"
				android:layout_marginTop="10dp">
				<TextView
					android:layout_width="wrap_content"
					android:layout_height="wrap_content"
					android:textSize="@dimen/text_large"
					android:textColor="@color/mid_gray"
					local:MvxBind="Text AverageRatingDecimalToAverageRatingString(AverageRating)" />
				<TextView
					android:layout_width="wrap_content"
					android:layout_height="wrap_content"
					android:layout_marginLeft="5dp"
					android:textSize="@dimen/text_large"
					android:textColor="@color/mid_gray"
					local:MvxBind="Text [OutOfFiveStars]" />
			</LinearLayout>
			<android.support.percent.PercentRelativeLayout
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:layout_marginTop="40dp">
				<TextView
					android:id="@+id/txt_five_star"
					android:layout_width="0dp"
					android:layout_height="wrap_content"
					android:layout_alignParentLeft="true"
					android:textColor="@color/colorPrimary"
					android:textSize="@dimen/text_large"
					local:layout_widthPercent="15%"
					local:MvxBind="Text [FiveStar]" />
				<TextView
					android:id="@+id/txt_five_star_count"
					android:layout_width="wrap_content"
					android:layout_height="wrap_content"
					android:layout_alignParentRight="true"
					android:textColor="@color/colorPrimary"
					android:textSize="@dimen/text_large"
					local:MvxBind="Text Driver.RateFiveStars" />
				<ProgressBar
					android:id="@+id/pgb_five_star"
					style="@android:style/Widget.ProgressBar.Horizontal"
					android:layout_width="0dp"
					android:layout_height="wrap_content"
					android:layout_toRightOf="@id/txt_five_star"
					android:indeterminate="false"
					android:progressDrawable="@drawable/progress_bar_color"
					android:minHeight="25dp"
					local:layout_widthPercent="75%"
					local:MvxBind="Max ReviewsCount; Progress Driver.RateFiveStars" />
			</android.support.percent.PercentRelativeLayout>
			<android.support.percent.PercentRelativeLayout
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:layout_marginTop="5dp">
				<TextView
					android:id="@+id/txt_four_star"
					android:layout_width="0dp"
					android:layout_height="wrap_content"
					android:layout_alignParentLeft="true"
					android:textColor="@color/colorPrimary"
					android:textSize="@dimen/text_large"
					local:layout_widthPercent="15%"
					local:MvxBind="Text [FourStar]" />
				<TextView
					android:id="@+id/txt_four_star_count"
					android:layout_width="wrap_content"
					android:layout_height="wrap_content"
					android:layout_alignParentRight="true"
					android:textColor="@color/colorPrimary"
					android:textSize="@dimen/text_large"
					local:MvxBind="Text Driver.RateFourStars" />
				<ProgressBar
					android:id="@+id/pgb_four_star"
					style="@android:style/Widget.ProgressBar.Horizontal"
					android:layout_width="0dp"
					android:layout_height="wrap_content"
					android:layout_toRightOf="@id/txt_four_star"
					android:indeterminate="false"
					android:progressDrawable="@drawable/progress_bar_color"
					android:minHeight="25dp"
					local:layout_widthPercent="75%"
					local:MvxBind="Max ReviewsCount; Progress Driver.RateFourStars" />
			</android.support.percent.PercentRelativeLayout>
			<android.support.percent.PercentRelativeLayout
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:layout_marginTop="5dp">
				<TextView
					android:id="@+id/txt_three_star"
					android:layout_width="0dp"
					android:layout_height="wrap_content"
					android:layout_alignParentLeft="true"
					android:textColor="@color/colorPrimary"
					android:textSize="@dimen/text_large"
					local:layout_widthPercent="15%"
					local:MvxBind="Text [ThreeStar]" />
				<TextView
					android:id="@+id/txt_three_star_count"
					android:layout_width="wrap_content"
					android:layout_height="wrap_content"
					android:layout_alignParentRight="true"
					android:textColor="@color/colorPrimary"
					android:textSize="@dimen/text_large"
					local:MvxBind="Text Driver.RateThreeStars" />
				<ProgressBar
					android:id="@+id/pgb_three_star"
					style="@android:style/Widget.ProgressBar.Horizontal"
					android:layout_width="0dp"
					android:layout_height="wrap_content"
					android:layout_toRightOf="@id/txt_three_star"
					android:indeterminate="false"
					android:progressDrawable="@drawable/progress_bar_color"
					android:minHeight="25dp"
					local:layout_widthPercent="75%"
					local:MvxBind="Max ReviewsCount; Progress Driver.RateThreeStars" />
			</android.support.percent.PercentRelativeLayout>
			<android.support.percent.PercentRelativeLayout
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:layout_marginTop="5dp">
				<TextView
					android:id="@+id/txt_two_star"
					android:layout_width="0dp"
					android:layout_height="wrap_content"
					android:layout_alignParentLeft="true"
					android:textColor="@color/colorPrimary"
					android:textSize="@dimen/text_large"
					local:layout_widthPercent="15%"
					local:MvxBind="Text [TwoStar]" />
				<TextView
					android:id="@+id/txt_two_star_count"
					android:layout_width="wrap_content"
					android:layout_height="wrap_content"
					android:layout_alignParentRight="true"
					android:textColor="@color/colorPrimary"
					android:textSize="@dimen/text_large"
					local:MvxBind="Text Driver.RateTwoStars" />
				<ProgressBar
					android:id="@+id/pgb_two_star"
					style="@android:style/Widget.ProgressBar.Horizontal"
					android:layout_width="0dp"
					android:layout_height="wrap_content"
					android:layout_toRightOf="@id/txt_two_star"
					android:indeterminate="false"
					android:progressDrawable="@drawable/progress_bar_color"
					android:minHeight="25dp"
					local:layout_widthPercent="75%"
					local:MvxBind="Max ReviewsCount; Progress Driver.RateTwoStars" />
			</android.support.percent.PercentRelativeLayout>
			<android.support.percent.PercentRelativeLayout
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:layout_marginTop="5dp">
				<TextView
					android:id="@+id/txt_one_star"
					android:layout_width="0dp"
					android:layout_height="wrap_content"
					android:layout_alignParentLeft="true"
					android:textColor="@color/colorPrimary"
					android:textSize="@dimen/text_large"
					local:layout_widthPercent="15%"
					local:MvxBind="Text [OneStar]" />
				<TextView
					android:id="@+id/txt_one_star_count"
					android:layout_width="wrap_content"
					android:layout_height="wrap_content"
					android:layout_alignParentRight="true"
					android:textColor="@color/colorPrimary"
					android:textSize="@dimen/text_large"
					local:MvxBind="Text Driver.RateOneStar" />
				<ProgressBar
					android:id="@+id/pgb_one_star"
					style="@android:style/Widget.ProgressBar.Horizontal"
					android:layout_width="0dp"
					android:layout_height="wrap_content"
					android:layout_toRightOf="@id/txt_one_star"
					android:indeterminate="false"
					android:progressDrawable="@drawable/progress_bar_color"
					android:minHeight="25dp"
					local:layout_widthPercent="75%"
					local:MvxBind="Max ReviewsCount; Progress Driver.RateOneStar" />
			</android.support.percent.PercentRelativeLayout>
			<MvxRecyclerView
				android:id="@+id/reviews_recycler_view"
				android:layout_width="match_parent"
				android:layout_height="wrap_content"
				android:layout_marginTop="30dp"
				local:MvxItemTemplate="@layout/item_review"
				local:MvxBind="ItemsSource Items" />
		</LinearLayout>
	</android.support.v4.widget.NestedScrollView>
</LinearLayout>