<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <android.support.design.widget.CoordinatorLayout
        android:id="@+id/main_content"
        android:layout_above="@+id/rl_buttons"
        style="@style/MM">
        <android.support.design.widget.AppBarLayout
            android:id="@+id/appbar"
            style="@style/MW"
            android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar">
            <android.support.v7.widget.Toolbar
                android:id="@+id/toolbar"
                style="@style/Toolbar"
                local:popupTheme="@style/ThemeOverlay.AppCompat.Light" />
            <android.support.design.widget.TabLayout
                android:id="@+id/tabs"
                style="@style/TabLayout"
                local:tabMaxWidth="0dp"
                local:tabGravity="fill"
                local:tabMode="fixed" />
        </android.support.design.widget.AppBarLayout>
        <android.support.v4.view.ViewPager
            android:id="@+id/viewPagerTripDetails"
            style="@style/MW"
            local:layout_behavior="@string/appbar_scrolling_view_behavior" />
    </android.support.design.widget.CoordinatorLayout>
    <LinearLayout
        android:id="@id/rl_buttons"
        style="@style/MW"
        android:layout_alignParentBottom="true">
        <LinearLayout
            style="@style/MW"
            android:background="@color/light_gray"
            local:MvxBind="Visibility TripHasModificationsAndHasTripConflictToVisibility(UpcomingTripDetailDetails.Trip)">
            <Button
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:theme="@style/AppTheme.Button.ColorGray.Smaller"
                style="?android:attr/borderlessButtonStyle"
                android:padding="20dp"
                android:textColor="@color/dark_gray"
                android:textAllCaps="true"
                android:textSize="@dimen/text_large"
                local:MvxBind="Text [CallDispatch]; Click CallDispatchCommand" />
        </LinearLayout>
        <LinearLayout
            style="@style/MW"
            local:MvxBind="Visibility InvertedVisibility(UpcomingTripDetailDetails.Trip.IsCancelled)">
            <LinearLayout
                android:layout_width="0dp"
                android:layout_height="wrap_content"
                android:background="@color/light_gray"
                android:layout_weight="0.5">
                <Button
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:theme="@style/AppTheme.Button.ColorGray.Smaller"
                    style="?android:attr/borderlessButtonStyle"
                    android:padding="20dp"
                    android:textColor="@color/dark_gray"
                    android:textAllCaps="true"
                    android:textSize="@dimen/text_large"
                    android:layout_weight="0.5"
                    local:MvxBind="Text [CallDispatch]; Click CallDispatchCommand" />
            </LinearLayout>
            <LinearLayout
                android:layout_width="0dp"
                android:layout_height="wrap_content"
                android:background="@color/colorPrimary"
                android:layout_weight="0.5">
                <Button
                    android:layout_width="0dp"
                    android:layout_height="wrap_content"
                    android:theme="@style/AppTheme.Button.ColorPrimary.Smaller"
                    style="?android:attr/borderlessButtonStyle"
                    android:padding="20dp"
                    android:textColor="@android:color/white"
                    android:textAllCaps="true"
                    android:textSize="@dimen/text_large"
                    android:layout_weight="0.5"
                    local:MvxBind="Text [AcceptChanges]; Click AcceptChangesCommand" />
            </LinearLayout>
        </LinearLayout>
        <LinearLayout
            style="@style/MW"
            android:background="@color/colorPrimary"
            local:MvxBind="Visibility Visibility(UpcomingTripDetailDetails.Trip.IsCancelled)">
            <Button
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:theme="@style/AppTheme.Button.ColorPrimary.Smaller"
                style="?android:attr/borderlessButtonStyle"
                android:padding="20dp"
                android:textColor="@android:color/white"
                android:textAllCaps="true"
                android:textSize="@dimen/text_large"
                local:MvxBind="Text [ConfirmCancellation]; Click ConfirmCancellationCommand" />
        </LinearLayout>
    </LinearLayout>
</RelativeLayout>